@media screen and (min-width: 760px) {
  .theme:hover {
    cursor: pointer !important;
    color: black;
  }

  .projects {
    padding-top: 5rem;
    padding-bottom: 5rem;
    /* background-color: #f9f9f9; */
  }
  .letter-of-completion {
    width: 57%;
    margin: auto;
    text-align: left;
  }
  .aboutme-img {
    background-image: url("../media/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 20rem;
    width: 20rem;
    border-radius: 20px;
  }
  .web-developer_logo {
    background-image: url("../media/development.png");
    height: 9rem;
    width: 9rem;
    background-color: white;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 37%;
    background-position: 50%;
    bottom: 6rem;
  }

  .boat {
    width: 57%;
    margin: auto;
    text-align: left;
    padding-block: 2rem;
  }

  .boat-work ul {
    margin: 0px;
    padding-left: 20px;
  }

  .profile {
    font-weight: 600;
  }

  .employee {
    font-style: italic;
    font-size: medium;
  }

  .projects h4,
  .projects h5,
  .experience h4,
  .dark-App-experience h4 {
    width: 57%;
    margin: auto;
    text-align: left;
  }
  .projects_info {
    padding-bottom: 0px !important;
  }

  .timeline {
    float: right;
    font-size: medium !important;
  }

  .projects h5 {
    padding-block: 1rem;
    font-weight: 900;
  }

  .project {
    /* color: #6868f4; */
    display: flex;
    width: 57%;
    height: 27rem;
    margin: auto;
    gap: 1rem;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-block: 5rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .reverse_project {
    display: flex;
    flex-direction: row-reverse;
    width: 57%;
    height: 23rem;
    margin: auto;
    gap: 1rem;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-block: 2rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .project_img {
    background-repeat: no-repeat;
    background-size: contain;
    height: 34vh;
    width: 27rem;
    border-radius: 25px;
  }
  .project_content {
    width: 45%;
  }
  .project_content h5 {
    text-align: center;
  }

  .project h5 {
    font-weight: 900;
    color: #6868f4;
  }
  .project p {
    color: #767676;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }
  .reverse_project h5 {
    color: #6868f4;
    font-weight: 900;
  }
  .reverse_project p {
    color: #767676;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }

  .no_img {
    margin-right: 25%;
  }

  .project_code {
    margin: auto;
    width: fit-content;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
  }
  .project_code:hover {
    color: #6868f4;
    cursor: pointer;
    text-decoration: underline;
  }

  .project_code span {
    padding-left: 0px !important;
  }
  .projects_front-end {
    padding-block: 0.5rem;
  }
  .footer p {
    cursor: pointer;
  }
  .resume {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .experience {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #f9f9f9;
  }
  .dark-App-experience {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #0a122c;
  }
  .footer-container {
    width: 60%;
    margin: auto;
    text-align: left;
  }
}
