.App {
  text-align: center;
  font-family: "Poppins";
  cursor: url(https://ani.cursors-4u.net/games/gam-16/gam1571.ani),
    url(https://ani.cursors-4u.net/games/gam-16/gam1571.png), auto !important;
}

.dark-App {
  background: #0e1630 !important;
  color: #01d293;
  text-align: center;
  font-family: "Poppins";
  cursor: url(https://cur.cursors-4u.net/others/oth-3/oth246.cur), auto !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mobile-nav {
  display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sticky-top {
  z-index: 9;
  background-color: white;
}

.f-700 {
  font-weight: 700;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  padding-block: 25px;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  position: sticky;
}

.nav-wrapper h3 {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 20px;
}
.navbar-list a {
  text-decoration: none;
  color: #212529;
}
.dark-navbar-list a {
  text-decoration: none;
  color: #01d293;
}
.dark-navbar-list a:hover {
  text-decoration: none;
  color: blue;
}

.navbar-list,
.dark-navbar-list {
  display: flex;
  margin: 0px;
}
.navbar-list li,
.dark-navbar-list li {
  list-style: none;
  padding-inline: 10px;
}

.home-section {
  background-color: #f9f9f9;
}
.dark-home-section {
  background-color: #0a122c;
  color: #01d293 !important;
}

.home-section_wrapper,
.dark-home-section_wrapper {
  display: flex;
  gap: 20rem;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.home-section_wrapper h1 {
  font-size: 50px;
  font-weight: 900;
}
.dark-home-section_wrapper h1 {
  font-size: 50px;
  color: rgb(104, 104, 244);
  font-weight: 900;
}
.home-section_wrapper p {
  font-size: 18px;
  padding-top: 20px;
  font-weight: 500;
  color: #767676;
}
.dark-home-section_wrapper p {
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
}
.home-section_img {
  background: no-repeat;
  background-image: url("../src//media/Screenshot.png");
  background-size: cover;
  border-radius: 40% 60% 70% 30%/30% 60% 40% 70%;
  border: 3px solid #000000e0;
  height: 20rem;
  width: 20rem;
  animation: morph 8s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

.tech-stack {
  padding-block: 3rem;
  width: 56%;
  text-align: left;
  margin: auto;
}
.front-end {
  padding-bottom: 10px;
}
.front-end_icons:hover,
.back-end_icons:hover {
}
.front-end h5,
.back-end h5 {
  align-self: end;
  margin-right: 0.5rem;
}
.react-icons {
  margin-inline: 0.3rem;
}
.d-flex {
  display: flex;
}
.home-section_content {
  text-align: left;
  width: 26rem;
}
.linkdin {
  padding-right: 10px;
}
.aboutme-wrapper {
  display: flex;
  gap: 7rem;
  justify-content: center;
  /* align-items: center; */
}
.aboutme {
  padding-top: 10rem;
  padding-bottom: 5rem;
}
.aboutme-content,
.dark-aboutme-content {
  width: 29rem;
  height: 40vh;
}
.aboutme-content h4,
.dark-aboutme-content h4,
.projects h4,
.experience h4,
.dark-App-experience h4 {
  color: rgb(104, 104, 244);
  font-weight: 700;
  text-align: left;
}

.aboutme-content p,
.dark-aboutme-content p {
  font-weight: 900;
  text-align: left;
  font-size: 20px;
}

.aboutme-content div {
  text-align: justify;
  text-justify: inter-word;
  color: #767676;
}
.dark-aboutme-content div {
  text-align: justify;
  text-justify: inter-word;
  color: #01d293;
}

.aboutme-img {
  background-image: url("./media/img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 23rem;
  width: 30rem;
  border-radius: 20px;
}

.web-developer_logo {
  background-image: url("./media/development.png");
  height: 9rem;
  width: 9rem;
  background-color: white;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 41%;
  background-position: 50%;
  bottom: 8rem;
}

.footer {
  padding: 4rem;
  width: 100%;
  text-align: left;
  margin: auto;
  background-color: #f9f9f9;
}
.dark-footer {
  padding: 4rem;
  width: 100%;
  text-align: left;
  margin: auto;
  background-color: #0a122c;
}

.footer div,
.dark-footer div {
  color: rgb(104, 104, 244);
  font-weight: 700;
  font-size: 24px;
  padding-block: 1rem;
}

.footer_icons {
  margin-inline: 2rem;
}
.footer p:hover {
  cursor: pointer;
}

.copy-rights {
  padding: 2rem;
  background-color: #2d2e32 !important;
  color: white;
  width: 100%;
  font-weight: 700;
}

@keyframes morph {
  50% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media only screen and (max-width: 1800px) {
  .tech-stack {
    padding-block: 3rem;
    width: 57%;
    text-align: left;
    margin: auto;
  }
}
